@import "variables";


.navbar{
    background-color: $white;
    // height: 12%;
    font-family: $font;
    box-shadow: 7px 0px 10px $lightGrey, 7px 0px 15px $lightGrey;

    @include breakpoints(570px){
        // height: 20%;
        text-align: center;
    }
}

.navbar-brand{
    @include breakpoints(425px){
        width: 80%;
        margin-left: -5%;
    }
}

#logo{
    @include breakpoints(425px){
        width: 80%;
        margin-left: -10%;
    }
}

.navbar-light .navbar-text{
    color: $blue;
    margin-right: 1vw;
}

#navBtn{
    @include buttons(.8rem, 11px, 18px);
}

#navBtn:hover{
    @include buttonsHover(.8rem, 11px, 18px);
    
}

