@import "variables";
@import "button";
@import "header";
@import "footer";
@import "ascpa";
@import "genericCPA";

html{
    width: 100vw;
}

body{
    overflow-x: hidden;
}

.container{
    font-family: $font;
}

#pageContainer{
    margin-top: 15vh;
}