//color variables
$macaroni: rgb(255, 170.7, 17.2);
$lightOrange: rgb(276.6, 182.3, 60.7);
$blue: rgb(66.1, 142.9, 221.6);
$blue-hover: rgb(66.1, 102, 221.6);
$stormy: rgb(81.1, 73.4, 123.7);
$beets: rgb(134, 6, 81);
$white: rgb(255, 255, 255);
$lightGrey: rgb(204, 204, 204);
$darkGrey: rgb(85, 85, 85);
$font: 'Muli', sans-serif;

@mixin buttons($fontSize, $topBottom, $leftRight){
    font-weight: bold;
    font-size: $fontSize;
    text-align: center;
    background-color: $blue;
    color: white;
    padding: $topBottom $leftRight;
}

@mixin buttonsHover($fontSize, $topBottom, $leftRight){
    @include buttons($fontSize, $topBottom, $leftRight);
    background-color: $blue-hover;
    color: white;
    text-decoration: none;
}

@mixin anchorTags {
    color: inherit;
    text-decoration: inherit;
}

@mixin breakpoints($max){
    @media screen and (max-width: $max) {
        @content
    }
}
