.demoBtn {
  font-weight: bold;
  font-size: 0.8rem;
  text-align: center;
  background-color: #428fde;
  color: white;
  padding: 15px 46px;
}

.demoBtn:hover {
  font-weight: bold;
  font-size: 0.8rem;
  text-align: center;
  background-color: #428fde;
  color: white;
  padding: 15px 46px;
  background-color: #4266de;
  color: white;
  text-decoration: none;
}

.navbar {
  background-color: white;
  font-family: "Muli", sans-serif;
  box-shadow: 7px 0px 10px #cccccc, 7px 0px 15px #cccccc;
}
@media screen and (max-width: 767px) {
  .navbar {
    text-align: center;
  }
}

@media screen and (max-width: 425px) {
  .navbar-brand {
    width: 80%;
    margin-left: -5%;
  }
}

@media screen and (max-width: 425px) {
  #logo {
    width: 80%;
    margin-left: -10%;
  }
}

#collapseNav {
  margin-top: 2%;
}

.navbar-light .navbar-text {
  color: #428fde;
  margin-right: 1vw;
}
@media screen and (max-width: 767px) {
  .navbar-light .navbar-text {
    border: #ffab11 solid thin;
    font-weight: bold;
    color: #555555;
    padding: 11px 18px;
    font-size: 0.8em;
  }
}

#navBtn {
  font-weight: bold;
  font-size: 0.8rem;
  text-align: center;
  background-color: #428fde;
  color: white;
  padding: 11px 18px;
}
@media screen and (max-width: 767px) {
  #navBtn {
    border: #ffab11 solid thin;
    background-color: white;
    color: #555555;
  }
}

#navBtn:hover {
  font-weight: bold;
  font-size: 0.8rem;
  text-align: center;
  background-color: #428fde;
  color: white;
  padding: 11px 18px;
  background-color: #4266de;
  color: white;
  text-decoration: none;
}

footer {
  font-family: "Muli", sans-serif;
  height: 35vh;
  background-color: #ffab11;
  text-align: center;
}
footer p {
  color: #555555;
}

#footerLogo {
  margin-top: 6vh;
}

#learnMore {
  font-size: 0.95rem;
  margin-top: 3vh;
  font-weight: bold;
}

#legalFont {
  margin-top: 5vh;
  font-size: 0.7rem;
}

#privacyPolicy {
  color: inherit;
  text-decoration: inherit;
}

#privacyPolicy:hover {
  text-decoration: underline;
}

.topBox {
  height: auto;
  margin-top: 7vh;
}
.topBox h1 {
  color: #428fde;
  margin-top: 3vh;
}
.topBox p {
  margin-top: 2vh;
  line-height: 4vh;
  margin-bottom: 4vh;
}

#capitalPic {
  height: 85%;
}
@media screen and (max-width: 1200px) {
  #capitalPic {
    height: 80%;
    margin-top: 8%;
  }
}
@media screen and (max-width: 768px) {
  #capitalPic {
    height: 50%;
  }
}

#ascpaLogo {
  margin-top: 2vh;
}

.line {
  height: 0.4vh;
  background-color: #428fde;
  margin-top: 5vh;
}

.benefitsHeader {
  color: #428fde;
  margin-top: 4vh;
  text-align: center;
}

.benefitsBox {
  width: 345px;
  background-color: white;
  border: solid #cccccc thin;
  border-bottom: solid #ffab11 8px;
  margin: auto;
  margin-top: 3vh;
  margin-bottom: 2vh;
  line-height: 3.5vh;
  padding: 2% 3%;
}
.benefitsBox h5 {
  font-weight: bold;
  color: #504679;
  font-size: 1.5rem;
}
.benefitsBox p {
  font-size: 0.9rem;
}
@media screen and (max-width: 1200px) {
  .benefitsBox {
    width: 300px;
  }
  .benefitsBox h5 {
    font-size: 1.35rem;
  }
}
@media screen and (max-width: 993px) {
  .benefitsBox {
    width: 230px;
  }
  .benefitsBox h5 {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 767px) {
  .benefitsBox {
    width: 260px;
  }
  .benefitsBox h5 {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 575px) {
  .benefitsBox {
    width: 450px;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }
  .benefitsBox h5 {
    font-size: 1.5rem;
  }
  .benefitsBox p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 460px) {
  .benefitsBox {
    margin-left: 5vw;
    margin-right: 5vw;
  }
  .benefitsBox h5 {
    font-size: 1.3rem;
  }
  .benefitsBox p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 992px) {
  .largeBreak {
    display: none;
  }
}

#contactBox {
  border: none;
  text-align: center;
  font-weight: bold;
}
#contactBox img {
  border-radius: 50px;
  background-color: #cccccc;
  margin-bottom: 2vh;
}
#contactBox p {
  margin-bottom: 5vh;
}

.testimonial {
  color: inherit;
  text-decoration: inherit;
  border: solid #cccccc thin;
  border-bottom: solid #428fde 8px;
  margin-top: 6vh;
  margin-bottom: 2vh;
  padding-bottom: 5vh;
  font-size: 1.3em;
}

.testimonial:hover {
  color: inherit;
  text-decoration: inherit;
  box-shadow: 0px 0px 5px #cccccc, 0 0 10px #cccccc;
}

.starIcon {
  color: #ffab11;
  font-size: 0.7em;
}

.center {
  align-items: center;
}

#squiggle {
  background-image: url(images/squiggle.PNG);
  background-size: contain;
  height: 29vh;
  background-repeat: no-repeat;
  margin-top: 5vh;
}
@media screen and (max-width: 575px) {
  #squiggle {
    transform: rotate(90deg);
    height: 200px;
    width: 50px;
    margin-top: -10vh;
  }
}

#quoteMarks {
  background-image: url(images/quoteMarks.PNG);
  background-repeat: no-repeat;
  height: 10vh;
  margin-top: 6vh;
}
@media screen and (max-width: 575px) {
  #quoteMarks {
    display: none;
  }
}

#reviewAuthor {
  color: #428fde;
  font-weight: bold;
  margin-left: -5vw;
  margin-top: 5vh;
}
#reviewAuthor p {
  font-size: 0.6em;
}
@media screen and (max-width: 767px) {
  #reviewAuthor p {
    font-size: 0.5em;
  }
}
@media screen and (max-width: 575px) {
  #reviewAuthor {
    text-align: center;
    margin-top: -10vh;
  }
}

.featureBox {
  position: absolute;
  width: 100vw;
  background-color: #ffab11;
  margin-top: 6vh;
  right: 0%;
  text-align: center;
  color: #555555;
}
.featureBox p {
  margin-top: 3vh;
  font-weight: bold;
}

.featureBox::after {
  content: "";
  position: absolute;
  right: 0%;
  bottom: 0%;
  background-color: #ffab11;
  border-style: solid;
  border-color: transparent #ffb63d #ffb63d transparent;
  border-width: 10vh 10vw 10vh 10vw;
}

#featureHeader {
  margin-top: 4vh;
  margin-bottom: 4vh;
}

.featureIconContainer {
  position: relative;
  z-index: 10;
  margin-bottom: 3vh;
}

.featureIcons {
  max-width: 50%;
  max-height: 50%;
}

.bottomBox {
  margin-top: 60vh;
  margin-bottom: 15vh;
}
.bottomBox h1 {
  color: #428fde;
}
@media screen and (max-width: 1200px) {
  .bottomBox {
    margin-top: 65vh;
  }
}
@media screen and (max-width: 900px) {
  .bottomBox {
    margin-top: 55vh;
  }
}
@media screen and (max-width: 768px) {
  .bottomBox {
    margin-top: 65vh;
  }
}
@media screen and (max-width: 576px) {
  .bottomBox {
    margin-top: 110vh;
  }
}
@media screen and (max-width: 324px) {
  .bottomBox {
    margin-top: 110vh;
  }
}

.checkList {
  list-style-image: url(images/orangeCheck.PNG);
}
.checkList li {
  font-size: 1.4rem;
  margin-bottom: 2vh;
  padding-left: 1vw;
}

#listDemoBtn {
  margin-left: 3vw;
}

#desktopPic {
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 991.5px) {
  #desktopPic {
    margin-top: -55vh;
    height: 80%;
    width: 80%;
    margin-top: 0vh;
  }
}

html {
  width: 100vw;
}

body {
  overflow-x: hidden;
}

.container {
  font-family: "Muli", sans-serif;
}

#pageContainer {
  margin-top: 15vh;
}

/*# sourceMappingURL=index.css.map */
