//color variables
$macaroni: rgb(255, 170.7, 17.2);
$lightOrange: rgb(276.6, 182.3, 60.7);
$blue: rgb(66.1, 142.9, 221.6);
$blue-hover: rgb(66.1, 102, 221.6);
$stormy: rgb(81.1, 73.4, 123.7);
$beets: rgb(134, 6, 81);
$white: rgb(255, 255, 255);
$lightGrey: rgb(204, 204, 204);
$darkGrey: rgb(85, 85, 85);
$font: 'Muli', sans-serif;

@mixin buttons($fontSize, $topBottom, $leftRight){
    font-weight: bold;
    font-size: $fontSize;
    text-align: center;
    background-color: $blue;
    color: white;
    padding: $topBottom $leftRight;
}

@mixin buttonsHover($fontSize, $topBottom, $leftRight){
    @include buttons($fontSize, $topBottom, $leftRight);
    background-color: $blue-hover;
    color: white;
    text-decoration: none;
}

@mixin anchorTags {
    color: inherit;
    text-decoration: inherit;
}


body{
    overflow-x: hidden;
}

.container{
    font-family: $font;
}


.navbar{
    background-color: $white;
    height: 9vh;
    color: $blue;
    font-family: $font;
}

#logo{
    
}

.navbar-text{
    margin-right: 1vw;
}

#navBtn{
    @include buttons(.8rem, 11px, 18px);
}

#navBtn:hover{
    @include buttonsHover(.8rem, 11px, 18px)
}


.topBox{
    height: 50vh;
    margin-top: 7vh;
}

#aspcaLogo{
    margin-top: 2vh;
}

#firstHeader{
    color: $blue;
}

.demoBtn{
    @include buttons(.8rem, 11px, 46px);
}

.demoBtn:hover{
    @include buttonsHover(.8rem, 11px, 46px)

}


.line{
    height: .3vh;
    background-color: $blue;
    margin-top: 5vh;

}


.header{
    color: $blue;
    margin-top: 2vh;
    text-align: center;
}

.sixBox{
    height: 30vh;
    background-color: $white;
    border: solid $lightGrey thin;
    border-bottom: solid $macaroni 8px;
    margin-top: 2vh;
    margin-bottom: 2vh;
    padding-top: 2%;
        h5{
            font-weight: bold;
            color: $stormy;
            font-size: 1.3rem;
        }
        p{
            font-size: .9rem;
        }
}

#sixthBox{
    border: none;
    text-align: center;
    font-weight: bold;
        img{
            border-radius: 50px;
            background-color: $lightGrey;
            margin-bottom: 2vh;
        }
        p{
            margin-bottom: 5vh;
        }
}


.row2{
    margin-top: 3vh;
}

.wideBox{
    @include anchorTags();
    height: 33vh;
    background-color: $white;
    border: solid $lightGrey thin;
    border-bottom: solid $blue 8px;
    margin-top: 3vh;
}

.wideBox:hover{
    @include anchorTags();
    box-shadow: 0px 0px 5px $lightGrey, 0 0 10px $lightGrey;
}

#stars{
    margin-top: 2vh;
}

.starIcon{
    color: $macaroni;
}

#squiggle{
    background-image: url(images/squiggle.PNG);
    height: 25vh;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 3.5vh;
}

#quoteMarks{
    background-image: url(images/quoteMarks.PNG);
    background-repeat: no-repeat;
    margin-top: 13.5vh;
}

#reviewAuthor{
    color: $blue;
    font-weight: bold;
    margin-top: 11vh;
    margin-left: -5vw;

    h6{
    }
    p{
        font-size: .6em;
    }
}


.orangeBox{
    position: absolute;
    height: 40vh;
    width: 100vw;
    background-color: orange;
    margin-top: 6vh;
    right: 0%;
    text-align: center;
    color: $darkGrey;
        p{
            margin-top: 3vh;
            font-weight: bold;
        }
}

#orangeHeader{
    margin-top: 3vh;
    margin-bottom: 2vh;
}

.productIcons{
    max-width:50%;
    max-height:50%;
    // margin-top: 3vh;
}

.infoIcons{
    position: relative;
    z-index: 10;
}


.orangeTriangle{
    position: absolute;
    border-color: transparent $lightOrange $lightOrange transparent;
    border-style: solid;
    border-width: 0vh 0vw 60vh 110vw;
    margin-top: 30vh;
    right: 0vw;
}

.bottomTwo{
    margin-top: 50vh;
    margin-bottom: 13vh;
        h1{
            color: $blue;
        }     
}

ul{
    list-style-image: url(images/orangeCheck.PNG);
    li{
        font-size: 1.25rem;
        margin-bottom:2vh;
        // font-weight: bold;
    }
}

#bottomDemoBtn{
    margin-left: 3vw;
}

#desktopPic{
    height: 100%;
    width: 100%;
}

footer{
    font-family: $font;
    height: 35vh;
    background-color: $macaroni;
    text-align: center;
    p{
        color: $darkGrey;
    }
}

#footerLogo{
    margin-top: 6vh;
}

#learnMore{
    font-size: .95rem;
    margin-top: 3vh;
    font-weight: bold;
}

#legalFont{
    margin-top: 5vh;
    font-size: .7rem;
}




























.logo{
    background-image: url(images/logo.PNG);
    background-size: contain;
    background-repeat: no-repeat;
    height: 6.5vh;
    width: 14.5vw;
}

.accountBtn{
    background-color: $blue;
    color: white;
}

.accountBtn:hover{
    background-color: $blue-hover;
    color: white;
}
// footer{
//     background-color: $macaroni;
//     bottom: 0%;
//     height: 20vh;
// }